@import url("reset.css");

html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    
    padding: 1em;
}

canvas {
    width: 100%;
    height: 90%;

    background-color: rgb(233, 233, 233);
    border-radius: 1em;

}

.container {
    position: relative;
}

.health-bar-wrapper {
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    content: '';
    position: absolute; 
    z-index: 99; 
}

.player-health-wrapper {
    display: flex;    
    justify-content: flex-end;
}

.enemy-health-wrapper,
.player-health-wrapper {
    width: 100%;
    height: 3rem;
    position: relative;
    background-color: blue;
}

.enemy-health,
.player-health {
    width: 100%;
    height: 3rem;
    background-color: hsl(48, 98%, 54%);
}

.timer {
    font-size: 2rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    width: 6rem;
    height: 6rem;
    
    background-color: hsl(0, 50%, 50%);
}
